<!DOCTYPE html>

<html>
    <head>
        <title>Subjects</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @*codigo para mostrasr los registros de la base*@
                <tr>
                    <td>
                        Human Anatomy
                    </td>
                </tr>
                <tr>
                    <td>
                        Psychology
                    </td>
                </tr>
                <tr>
                    <td>
                        Sport History
                    </td>
                </tr>
                <tr>
                    <td>
                        Sport Physiology
                    </td>
                </tr>
            </tbody>
        </table>
    </body>

</html>